@model IEnumerable<StaffManagement.Models.Staff>
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4 text-primary">Our Team</h1>
<a asp-action="Register" class="btn btn-primary text-white float-right mb-5">Register New Staff</a>

@if (Model.Count() > 0)
{
<div class="row w-100">
    @foreach (var item in Model)
    {
        @if (@item.Email == "chukwuemeka@thebulb.com")
        {
            <div class="col-md-3 card mt-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSMYxFH6FBmjVC4NZEENL6vHCDbj-ZGEVj9g&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.FirstName @item.LastName</h5>
                    <p class="card-text">@item.JobTitle</p>
                    <p class="card-text"><small class="text-muted"><a asp-action="" text-color="white">View details</a></small></p>
                </div>
            </div>

        }
        else
        {
            <div class="col-md-3 card mt-5">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS16iuSg-r14_WgMsoXK_mPy2W4YsPThTp-Iw&usqp=CAU" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.FirstName @item.LastName</h5>
                    <p class="card-text">@item.JobTitle</p>
                    <p class="card-text"><small class="text-muted"><a asp-action="" text-color="white">View details</a></small></p>
                </div>
            </div>

        }




    }
</div>
        }
        else
        {

        <small class="mt-5 text-center">No Staffs added yet</small>
        }



